.card {
    background-color:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.862);
    margin-top: 50px;
    height: 87%;
}

.scroller{
height: 375px;
}
.overflow-hidd{
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: inherit;
}