<div [@pageTransition]>
  <form action="">
      <div class="card p-5">
         <div class="card-title text-center">
            <h3 class="text-xl font-bold leading-none">Infos User</h3>
         </div>
         <div class="mt-1">
            <div class="max-w-full p-2">
               <div class="flex space-x-16">
                  <div class="grid grid-cols-12 mt-[-25px]  gap-x-6 ">         
                     <div class="col-span-1 mt-4 md:col-span-6">
                        <div class="form-group ">
                           <label for="base-input" class="form-label required"> Prénom</label>
                           <input type="text" id="base-input" placeholder="Massar " class="form-control" />
                        </div>
                     </div>
                     <div class="col-span-1  md:col-span-6 mt-4">
                        <div class="form-group">
                           <label for="base-input" class="form-label required"> Nom</label>
                           <input type="text" id="base-input" placeholder="Ndime" class="form-control" />
                        </div>
                     </div>
                     <div class="col-span-1 md:col-span-6">
                        <div class="form-group">
                           <label for="base-input" class="form-label required"> Email</label>
                           <input type="text" id="base-input" placeholder="massar@email.com" class="form-control" />
                        </div>
                     </div>
                     <div class="col-span-1 md:col-span-6 ">
                        <div class="form-group">
                           <label for="base-input" class="form-label required"> Matricule</label>
                           <input type="text" id="base-input" placeholder="AZER234" class="form-control" />
                        </div>
                     </div>
                     <div class="col-span-12 md:col-span-12">
                        <div class="form-group">
                           <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">
                           Téléverser Contrat
                           </label>
                           <input class="file-upload file" aria-describedby="user_avatar_help" id="user_avatar" type="file">   
                        </div> 
                     </div>
                     
                  </div>
                  <div class="col-span-1 md:col-span-8 mb-4">
                     <div class="col-span-full">
                        <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">
                        
                        </label>
                        <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-8">
                           <div class="text-center">
                              <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                                 aria-hidden="true">
                                 <path fill-rule="evenodd"
                                    d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                    clip-rule="evenodd" />
                              </svg>
                              <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                 <label for="file-upload"
                                    class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none  hover:text-indigo-500">
                                    <span>Choisir un fichier</span>
                                    <input id="file-upload" name="file-upload" type="file" class="sr-only">
                                 </label>
                                 <p class="pl-1">ou Glisser et Déposer</p>
                              </div>
                              <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                           </div>
                        </div>
                     
                     </div>
                  </div>
               </div>
               <div class="grid grid-cols-3 gap-x-5 col-span-1 mb-3">
                  <div class="form-group ">
                     <label for="base-input" class="form-label required"> Téléphone </label>
                     <input type="number" id="base-input" placeholder="772314567" class="form-control form-control-lg" />
                  </div>
                  <div class="form-group">
                     <label for="base-input" class="form-label "> Téléphone Pro </label>
                     <input type="number" id="base-input" placeholder="339865432" class="form-control form-control-lg" />
                  </div>       
                  <div class="form-group">
                     <label for="base-input" class="form-label required"> Adresse</label>
                     <input type="text" id="base-input" placeholder="Sacré-Coeur3 VDN" class="form-control" />
                  </div> 
               
               </div>  
            </div>
         </div>
      </div>
      <div class="card p-3">
         <div class="flex  justify-around">
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none"> Statut</h3>
            </div>
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none">Rattaché a un responsable</h3>
            </div>
         </div>
         <div class="mt-2 flex justify-start space-x-64">
            <div class="max-w-sm w-full">
               <label for="count" class="form-label">
               </label>
               <select id="count" class="form-select col-span-2">
                  <option value="">Selectionner un statut</option>
                  <option>Permanents</option>
                  <option>Prestataire</option>
                  <option>Interimaire</option>
               </select>
            </div>
            <div >
            
               <div  class="flex mt-2 ">
                  <div class="" style="margin-top: -2px;">
                     <span  class="">Non</span>
                  </div>
                  <div>
                     <label class="ml-2 form-switch">         
                        <input type="checkbox" value="" class="sr-only peer" />
                        <div class="form-input-switch">
                        </div>
                        <span class="form-check-label">Oui</span>
                     </label>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="card p-3">
         <div class="flex justify-around">
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none"> Groupe</h3>
            </div>
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none">Catégorie</h3>
            </div>
         </div>
         <div class="mt-2 flex justify-around space-x-16">
            <div class="max-w-sm w-full">
               <label for="countries" class="form-label">      
               </label>
               <select id="countries" class="form-select">
                  <option value="">Selectionner un groupe</option>
                  <option>Maitrise</option>
                  <option>Chef Sce</option>
                  <option>Ouvriers</option>
                  <option>Chef Centre2</option>
                  <option>Cadre</option>
                  <option>Chef Departement</option>
                  <option>Haute Maitrise</option>
                  <option>Directeur</option>
               </select>
            </div>
            <div class=" w-full">
               <label for="countries" class="form-label">    
               </label>
               <select id="countries" class="form-select">
                  <option value="">Selectionner un Catégorie</option>
                  <option>Maitrise</option>
                  <option>Ordinaire</option>
                  <option>Ouvriers</option>
                  <option>Chef Centre2</option>
                  <option>Cadre</option>
                  <option>Haute Maitrise</option>
               </select>
            </div>
         </div>
      </div>
      <div class="card p-3">
         <div class="flex justify-around">
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none"> Lieu d'execution</h3>
            </div>
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none">Direction</h3>
            </div>
         </div>
         <div class="mt-2 flex justify-between space-x-16">
            <div class="max-w-sm  w-full">
               <label for="lieu" class="form-label">
               </label>
               <select id="lieu" class="form-select">
                  <option value="">Selectionner un lieu</option>
                  <option>Sonatel</option>
                  <option>Sablux</option>
                  <option>Acad</option>
                  <option>République</option>
                  <option>Autre</option>
               </select>
            </div>
            <div class=" w-full">
               <label for="canal" class="form-label">
               </label>
               <select id="lieu" class="form-select">
                  <option value="">Selectionner une direction</option>
                  <option>DV</option>
                  <option>ARQ</option>
                  <option>AMD</option>
                  <option>AFRI</option>
                  <option>GAGE</option>
                  <option>SECUR</option>
                  <option>AMIR</option>
                  <option>Autre</option>
               </select>
            </div>
         </div>
      </div>
      <div class="card p-4">
         <div class="flex justify-around">
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none"> Pôle</h3>
            </div>
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none"> Canal</h3>
            </div>
         </div>
         <div class="mt-2 flex justify-between space-x-16">
            <div class="max-w-sm  w-full">
               <label for="lieu" class="form-label">
               </label>
               <select id="lieu" class="form-select">
                  <option value="">Selectionner une pôle</option>
                  <option>N/A</option>
                  <option>DOC</option>
                  <option>Autre</option>
               </select>
            </div>
            <div class="  w-full">
               <label for="lieu" class="form-label">
               </label>
               <select id="canal" class="form-select">
                  <option value="">Selectionner une canal</option>
                  <option>Terrain</option>
                  <option>Support</option>
                  <option>Vente en ligne</option>
                  <option>Agence</option>
                  <option>DRV</option>
                  <option>Indirect</option>
                  <option>haute valeur</option>
                  <option>Pole DV</option>
                  <option>Pole DOC</option>
               </select>
            </div>
         </div>
      </div>

      <div class="card p-4">
         <div class="flex justify-around">
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none"> Département</h3>
            </div>
            <div class="card-title">
               <h3 class="text-xl font-bold leading-none"> Agence Interim</h3>
            </div>
         </div>
         <div class="mt-2 flex justify-between space-x-16">
            <div class="max-w-sm  w-full">
               <label for="lieu" class="form-label">
               </label>
               <select id="lieu" class="form-select">
                  <option value="">Selectionner un département</option>
                  <option>PPCO</option>
                  <option>DRVI</option>
                  <option>Autre</option>
               </select>
            </div>
            <div class=" w-full">
               <label for="lieu" class="form-label">
               </label>
               <select id="lieu" class="form-select">
                  <option value="">Selectionner un agence d'interim</option>
                  <option>ITR</option>
                  <option>PERMANENTS</option>
                  <option>XPERIENZ</option>
                  <option>AFRIC SECURIM</option>
                  <option>GBG</option>
                  <option>2TS</option>
                  <option>AMR</option>
                  <option>Autre</option>
               </select>
            </div>
         </div>
         <div class="mt-10 flex  gap-x-6">
            <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
         </div>
      </div>
  </form>
</div>
   <!-- <div class="card p-5">
      <div class="mt-5">
         <form class="max-w-sm">
            <div class="form-group">
               <label for="large-input" class="form-label required"> Large input </label>
               <input type="text" id="large-input" placeholder="Large input" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
               <label for="base-input" class="form-label"> Base input </label>
               <input type="text" id="base-input" placeholder="Base input" class="form-control" />
            </div>
            <div class="form-group">
               <label for="small-input" class="form-label"> Small input </label>
               <input type="text" id="small-input" placeholder="Small input" class="form-control form-control-sm" />
            </div>
         </form>
      </div>
   </div> -->
   <!-- <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Select input</h3>
      </div>
      <div class="mt-5">
         <form class="max-w-sm">
            <label for="countries" class="form-label">
               Select your country
            </label>
            <select id="countries" class="form-select">

               <option>United States</option>
               <option>Canada</option>
               <option>France</option>
               <option>Germany</option>
            </select>
         </form>
      </div>
   </div> -->
   <!-- <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Input element with icon</h3>
      </div>
      <div class="mt-5">
         <form class="max-w-sm">
            <label for="email-address-icon" class="form-label">Your
               Email
            </label>
            <div class="relative">
               <div class="form-input-icon">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                     <path
                        d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                     <path
                        d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                  </svg>
               </div>
               <input type="text" id="email-address-icon"
                  class="form-control ps-10"
                  placeholder="icon@email.com">
            </div>
         </form>

      </div>
   </div> -->
   <!-- <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Textarea</h3>
      </div>
      <div class="mt-5">
         <form class="max-w-sm">
            <label for="message" class="form-label">
               Your message
            </label>
            <textarea id="message" rows="4" class="form-control" placeholder="Leave a comment..."></textarea>
         </form>
      </div>
   </div> -->
   <!-- <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">File upload</h3>
      </div>
      <div class="mt-5">
         <form class="max-w-lg">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">
               Upload file
            </label>
            <input class="file-upload file" aria-describedby="user_avatar_help" id="user_avatar" type="file">
            <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">
               A profile picture is useful to confirm your are logged into your account
            </div>
         </form>
      </div>
   </div> -->
   <!-- <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Checkbox</h3>
      </div>
      <div class="mt-5">
         <div class="form-check">
            <input checked id="checkbox-1" type="checkbox" value="" class="form-check-input" />
            <label for="checkbox-1" class="form-check-label">I agree to the
               <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
         </div>
         <div class="form-check">
            <input id="checkbox-2" type="checkbox" value="" class="form-check-input" />
            <label for="checkbox-2" class="form-check-label">I want to get
               promotional offers</label>
         </div>
         <div class="form-check">
            <input id="checkbox-3" type="checkbox" value="" class="form-check-input" />
            <label for="checkbox-3" class="form-check-label">I am 18 years or
               older</label>
         </div>
         <div class="form-check">
            <input id="international-shipping-disabled" type="checkbox" value="" class="form-check-input" disabled />
            <label for="international-shipping-disabled" class="form-check-label">Eligible for international shipping
               (disabled)</label>
         </div>
      </div>
   </div> -->
   <!-- <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Radio buttons</h3>
      </div>
      <div class="mt-5">
         <div class="flex items-center mb-4">
            <input id="gender-option-1" type="radio" name="gender" value="man" class="form-check-input" checked />
            <label for="gender-option-1" class="form-check-label">
               Man
            </label>
         </div>
         <div class="flex items-center mb-4">
            <input id="gender-option-2" type="radio" name="gender" value="women" class="form-check-input" />
            <label for="gender-option-2" class="form-check-label">
               Women
            </label>
         </div>
         <div class="flex items-center mb-4">
            <input id="gender-option-3" type="radio" name="gender" value="other" class="form-check-input" />
            <label for="gender-option-3" class="form-check-label">
               Other
            </label>
         </div>
         <div class="flex items-center mb-4">
            <input id="gender-option-4" type="radio" name="gender" value="none" class="form-check-input" disabled />
            <label for="gender-option-4" class="form-check-label">
               none
            </label>
         </div>
      </div>
   </div> -->
   <!-- <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Toggle Switch</h3>
      </div>
      <div class="mt-5">
         <label class="form-switch">
            <input type="checkbox" value="" class="sr-only peer" />
            <div class="form-input-switch">
            </div>
            <span class="form-check-label">Toggle me</span>
         </label>
      </div>
   </div> -->
   <!-- <div class="card p-5">
      <div class="card-title">
         <h3 class="text-xl font-bold leading-none">Full form</h3>
      </div>
      <div class="mt-5">
         <form class="max-w-2xl p-4">
            <div class="grid grid-cols-12 gap-x-6 space-y-4">
               <div class="col-span-12 md:col-span-8 mb-4">
                  <div class="col-span-full">
                     <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">
                        Cover photo
                     </label>
                     <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-8">
                        <div class="text-center">
                           <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                              aria-hidden="true">
                              <path fill-rule="evenodd"
                                 d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                 clip-rule="evenodd" />
                           </svg>
                           <div class="mt-4 flex text-sm leading-6 text-gray-600">
                              <label for="file-upload"
                                 class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none  hover:text-indigo-500">
                                 <span>Upload a file</span>
                                 <input id="file-upload" name="file-upload" type="file" class="sr-only">
                              </label>
                              <p class="pl-1">or drag and drop</p>
                           </div>
                           <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-span-12 md:col-span-6">
                  <div class="form-group">
                     <label for="base-input" class="form-label required"> First Name</label>
                     <input type="text" id="base-input" placeholder="First Name " class="form-control" />
                  </div>
               </div>
               <div class="col-span-12 md:col-span-6">
                  <div class="form-group">
                     <label for="base-input" class="form-label"> Last Name </label>
                     <input type="text" id="base-input" placeholder="Last Name" class="form-control" />
                  </div>
               </div>
               <div class="col-span-12 md:col-span-6">
                  <div class="form-group">
                     <label for="base-input" class="form-label required"> Email</label>
                     <input type="text" id="base-input" placeholder="smith@email.com" class="form-control" />
                  </div>
               </div>
               <div class="col-span-12 md:col-span-6">
                  <div class="form-group">
                     <label for="base-input" class="form-label"> Address</label>
                     <input type="text" id="base-input" placeholder="vill/ thana/ post" class="form-control" />
                  </div>
               </div>
            </div>
            <div class="mt-10 flex  gap-x-6">
               <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
               <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </div>
         </form>

      </div>
   </div> -->