<div [@pageTransition]>
    <section class="grid grid-cols-1 gap-2 md:grid-cols-2 xl:grid-cols-4">
        <div class="card flex items-center gap-1">
            <div class="rounded-lg bg-gradient-to-br from-emerald-500 to-emerald-700 px-3 py-2 text-white">
                <span class="bi bi-clock-history text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Cumul Temps de Presence</p>
            </div>
        </div>
        <div class="card flex items-center gap-3">
            <div class="rounded-lg bg-gradient-to-br from-orange-500 to-orange-700 px-3 py-2 text-white">
                <span class="bi bi-folder2-open text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Contrat en Cours</p>
            </div>
        </div>
        <div class="card flex items-center gap-3">
            <div class="rounded-lg bg-gradient-to-br from-violet-500 to-violet-700 px-3 py-2 text-white">
                <span class="bi bi-folder-x text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Fin de Contrat</p>
            </div>
        </div>
        <div class="card flex items-center gap-3">
            <div class="rounded-lg bg-gradient-to-br from-cyan-500 to-cyan-700 px-3 py-2 text-white">
                <span class="bi bi-hourglass-split text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Kangouru</p>
            </div>
        </div>
    </section>

    <div class="my-5"></div>
    
   <section class="container mx-auto mt-10 w-12/12 rounded-lg bg-white p-4 shadow-lg">
        <div class="mt-1">
            <div class="sm:rounded-lg">
               <div class="data-table">
                  <div class="table-container">
                     <table class="ng-wind-table w-full relative">
                        <thead class="ng-wind-table-header bg-gray-200 border rounded-b-md">
                           <tr>
                              <th scope="col" class="ng-wind-header-item">
                                 Photo
                                 <button (click)="sortingUp()" *ngIf="shorting === false" class="ml-2 text-lg">
                                    <i class="bi bi-arrow-down-short"></i>
                                 </button>
                                 <button (click)="sortingDown()" *ngIf="shorting === true" class="ml-2 text-lg">
                                    <i class="bi bi-arrow-up-short"></i>
                                 </button>
                              </th>
                              <th scope="col" class="ng-wind-header-item">
                                 Prenom
                              </th>
                              <th scope="col" class="ng-wind-header-item">
                                 Nom
                              </th>
                              <th scope="col" class="ng-wind-header-item">
                                 Poste
                              </th>
                              <th scope="col" class="ng-wind-header-item">
                                Matricule
                             </th>
                             <th scope="col" class="ng-wind-header-item">
                                Structure
                             </th>
                              <th scope="col" class="ng-wind-header-item text-center">
                                 Action
                              </th>
                           </tr>
                        </thead>
      
                        @if( dataInterims.length == 0 || dataInterims.length == undefined){
                        <div class="absolute top-52 w-full text-center">
                           <button disabled type="button"
                              class="me-2 inline-flex items-center rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 focus:ring-2 focus:ring-blue-700">
                              <svg aria-hidden="true" role="status"
                                 class="me-3 inline h-4 w-4 animate-spin text-gray-200 dark:text-gray-600"
                                 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                    fill="currentColor" />
                                 <path
                                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                    fill="#1C64F2" />
                              </svg>
                              Loading...
                           </button>
                        </div>
                        } @else {
                        <tbody>
                           @for (interim of dataInterims; track interim.id){
                           <tr class="border-b bg-white hover:bg-gray-50">
                              <td class="ng-wind-data-item whitespace-nowrap font-medium text-gray-800">
                                <div
                                    class="w-9 h-9 ml-5 rounded-full flex items-center justify-center overflow-hidden  border-2 border-gray-500">
                                    <img class="w-full object-cover" [src]="apiImag +interim.avatar " alt="Profile">
                                </div>
                              </td>
                              <td class="ng-wind-data-item text-center">
                                 {{interim?.prenom}}
                              </td>
                              <td class="ng-wind-data-item text-center">
                                 {{interim?.nom}}
                              </td>
                              <td class="ng-wind-data-item text-center">
                                 {{interim?.poste?.libelle}}
                              </td>
                                <td class="ng-wind-data-item text-center">
                                    {{interim?.matricule}}
                                </td>
                                <td class="ng-wind-data-item text-center">
                                    @if(interim?.responsable?.service?.departement?.pole?.libelle == 'N/A'){
                                        {{interim?.responsable?.service?.departement?.pole?.direction?.locau?.code}}/{{ interim?.responsable?.service?.departement?.pole?.direction?.libelle}}/{{ interim?.responsable?.service?.departement?.libelle }}/{{ interim?.responsable?.service?.libelle }}
                                    }@else{
                                        {{interim?.responsable?.service?.departement?.pole?.direction?.locau?.code}}/{{ interim?.responsable?.service?.departement?.pole?.direction?.libelle}}/{{ interim?.responsable?.service?.departement?.pole?.libelle }}/{{ interim?.responsable?.service?.departement?.libelle }}/{{ interim?.responsable?.service?.libelle }}
                                    }
                                </td>
                              <td class="ng-wind-data-item  text-center">
                                <button (click)="openModal(interim)" class="mr-6 rounded  btn btn-outline-info bg-white-500    px-4 py-1 font-bold  hover:bg-indigo-500  hover:bg-blue-700 ">Détails</button>
                                <button class=" rounded btn btn-outline-danger bg-white-500    px-4 py-1 font-bold  hover:bg-indigo-500   hover:bg-red-700">Rompre</button>
                              </td>
                           </tr>
                           }
                        </tbody>
                        }
                     </table>
                  </div>
               </div>
               <nav class="ng-wind-table-pagination flex justify-between" aria-label="Table navigation">
                  <div class="ng-wind-table-page-view flex">
                     Rows per page:
                     <div class="mx-2 flex rounded-md">
                        <select id="states" class="block w-full rounded-sm bg-gray-100 p-1 text-xs text-gray-900">
                           <option value="10">10</option>
                           <option value="20">20</option>
                           <option value="50">50</option>
                           <option value="100">100</option>
                           <option value="200">200</option>
                           <option value="300">300</option>
                           <option value="400">400</option>
                        </select>
                     </div>
                     <span class="me-1 ms-4 font-semibold text-gray-900">1-10</span> of
                     <span class="ms-1 font-semibold text-gray-900">1000</span>
                  </div>
      
                 <div>
                    <ul class="inline-flex h-8 -space-x-px text-xs rtl:space-x-reverse">
                        <li>
                           <a href="#" class="ng-wind-page-prev">
                              Prev
                           </a>
                        </li>
                        <!-- @for (page of pageData; track page){ -->
                        <li>
                           <!-- <a href="#" aria-current="page" [ngClass]="page == 1 ? 'active-page' : 'bg-white hover:bg-gray-100' "
                              class="page-number">
                               {{page}} 
                           </a> -->
                           <a href="#" aria-current="1" [ngClass]=" 1 ? 'active-page' : 'bg-white hover:bg-gray-100' "
                           class="page-number">
                           <!-- {{page}} -->
                        </a>
                        </li>
                        <!-- } -->
                        <li>
                           <a href="#" class="ng-wind-page-next">Next</a>
                        </li>
                     </ul>
                 </div>
               </nav>
            </div>
         </div>
        
    </section>
 
    <!-- Example Modal -->
    <app-modal [show]="showModal" (closeModal)="onModalCloseHandler($event)">
         <div class="sm:flex sm:items-start">
           <!-- <div
                class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                </svg>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">
                    Deactivate account
                </h3>
                <div class="mt-2">
                    <p class="text-sm text-gray-500">Are you sure you want to deactivate your account? All
                        of your data will be permanently removed. This action cannot be undone.</p>
                </div>
            </div>-->
            <div class="flex justify-between space-x-24">
                <div class="flex items-center gap-3 sticky top-0 bg-white px-8 py-3 shadow-[0_5px_5px_-5px] shadow-gray-600">
                    <div
                        class="w-32 h-30 flex items-center justify-center overflow-hidden  border-2 border-emerald-600">
                        <img class="w-full object-cover" [src]="apiImag +interimaire?.avatar "  alt="Profile">
                    </div>
                </div>
                <div class="space-y-2 mt-3 justify-end">
                    <div class="font-mono flex">
                        <div ><strong>Prénom :</strong></div>
                        <div>{{interimaire?.prenom}}</div>
                    </div>
                    <div class="flex">
                        <div><strong>Nom :</strong></div>
                        <div>{{interimaire?.nom}}</div>
                    </div>
                    <div class="flex">
                        <div><strong>Matricule :</strong></div>
                        <div>{{interimaire?.matricule}}</div>
                    </div>
                    <div class="flex">
                        <div><strong>Telephone :</strong></div>
                        <div>{{interimaire?.telephone}}</div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="mt-1 flex ml-1">
           <div> Poste: </div>
            <button type="button" class="btn btn-outline-secondary py-1  ">  {{interimaire?.poste?.libelle}}</button>
        </div>
        <div class=" flex space-x-3 mt-5">
            <div>
                <div  class="tooltip relative">Lieu :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        lieu d'execution
                    </span>
                </div>
                <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.responsable?.service?.departement?.pole?.direction?.locau?.libelle}}
                </button>
            </div>
            <div>
                <div >Responsable :</div>
                <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.responsable?.user?.prenom }} {{interimaire?.responsable?.user?.nom}}</button>
            </div>
            <div>
                <div>Structure :</div>
               @if(interimaire?.responsable?.service?.departement?.pole?.libelle == 'N/A'){
                   <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.responsable?.service?.departement?.pole?.direction?.locau?.code}}/{{ interimaire?.responsable?.service?.departement?.pole?.direction?.libelle}}/{{ interimaire?.responsable?.service?.departement?.libelle }}/{{ interimaire?.responsable?.service?.libelle }}</button>
               }@else{
                <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.responsable?.service?.departement?.pole?.direction?.locau?.code}}/{{ interimaire?.responsable?.service?.departement?.pole?.direction?.libelle}}/{{ interimaire?.responsable?.service?.departement?.pole?.libelle }}/{{ interimaire?.responsable?.service?.departement?.libelle }}/{{ interimaire?.responsable?.service?.libelle }}</button>
               }
            </div>
            <div>
                <div>Agence :</div>
                <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.categorie?.agence?.libelle }}</button>
            </div>
        </div>
        <div class="flex space-x-3 mt-5">
           <div>
                <div>Categorie :</div>
                <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.categorie?.libelle }}</button>
           </div>
           <div  class="flex flex-col">
                <button class="tooltip relative">Unitaire :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Coût Unitaire
                    </span>
                </button>
                <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">{{interimaire?.categorie?.cout_unitaire_journalier }}
                    <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        FCFA
                    </span>
                </button>
            </div>
            <div  class="flex flex-col">
                <button class=" tooltip relative">Durée:
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Durée Kangourou
                    </span>
                </button>
                <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.poste?.duree_kangurou }}
                    <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Jour
                    </span>
                </button>
            </div>
           <div  class="flex flex-col">
                <button class=" tooltip relative">Montant :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Montant Kangourou
                    </span>
                </button>
                <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">{{interimaire?.poste?.montant_kangurou }}
                    <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        FCFA
                    </span>
                </button>
           </div>
           <!-- <div>
                <div> Poste: </div>
                <button type="button" class="btn btn-outline-secondary me-2  ">  {{interimaire?.poste?.libelle}}</button>
           </div> -->
          
        </div>
        @for(contrat of interimaire?.contrats;track contrat.id){      
        <div class=" flex space-x-3 mt-5">
            <div  class="flex flex-col">
                <button class=" tooltip relative">Début :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Début Contrat
                    </span>
                </button>
                <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">
                    {{contrat?.date_debut_contrat}}
                 </button>
            </div>
            <div  class="flex flex-col">
                <button class=" tooltip relative" >Fin :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Fin Contrat
                    </span>
                </button> 
                <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.date_fin_contrat}}</button>
            </div>
            <div  class="flex flex-col">
                <button class="tooltip relative">Presence :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Temps Presence Structure
                    </span>
                </button>
                <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.temps_presence_structure_actuel}}
                    <span class="tooltip-text absolute bg-black  text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        JOUR
                    </span>
                </button>
            </div>
            <div  class="flex flex-col">
                <button class="tooltip relative"> Autre  :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Presence Autre Structure
                    </span>
                </button>
                <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">
                    {{contrat?.temps_presence_autre_structure_sonatel}}
                    <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        MOIS
                    </span>
                 </button>
            </div>
            <div  class="flex flex-col">
                <button class="tooltip relative"> Cumule  :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Cumule Presence structure:
                    </span>
                </button> 
                <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.cumul_presence_sonatel}}
                    <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        MOIS
                    </span>
                </button>
            </div>
        </div>
        <div class=" flex space-x-3 space-y-2 mt-5">
            <div  class="flex flex-col">
                <button class="tooltip relative mt-1"> Contrat :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Durée Contrat
                    </span>
                </button>
                <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.duree_contrat}}
                    <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        MOIS
                    </span>
                </button>
            </div>
            <div  class="flex flex-col">
                <button class="tooltip relative"> Reste  :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Durée Restant
                    </span>
                </button>
                <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">
                    {{contrat?.duree_contrat_restant}}
                    <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        MOIS
                    </span>
                 </button>
            </div>
            <div  class="flex flex-col">
                <button 
                class="tooltip relative"> Mensuel  :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Coût Mensuel
                    </span>
                </button> 
                <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.cout_mensuel}}
                    <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        FCFA
                    </span>
                </button>
            </div>
            <div  class="flex flex-col">
                <button class="tooltip relative">Global  :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        Coût Global 
                    </span>
                </button>
                <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.cout_global}}
                    <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        FCFA
                    </span>
                </button>
            </div>
            <div>
                <div>DA :</div>
                <button type="button" class="btn btn-outline-secondary me-2">
                    {{contrat?.DA}}
                 </button>
            </div>
        </div>
        <div class=" flex space-x-3 mt-5">
            <div class="flex flex-col">
                <button class="tooltip relative"> Kangourou  :
                    <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                        DA kangourou
                    </span>
                </button> 
                <button type="button" class="btn btn-outline-secondary me-2">{{contrat?.DA_kangurou}}</button>
            </div>
        </div>
        }
    </app-modal>
</div>