<div  class="overflow-x-hidden">
    <section class="grid grid-cols-1 gap-2 md:grid-cols-2 xl:grid-cols-4"> 
        <div (click)="contratCours()" class="{{ activeCours }} card flex items-center gap-3 cursor-pointer hover:shadow-md hover:border-y-4 hover:border-b-orange-600">
            <div class="rounded-lg bg-gradient-to-br from-orange-500 to-orange-700 px-3 py-2 text-white">
                <span class="bi bi-folder2-open text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400 text-nowrap">Contrat en Cours</p>
            </div>
        </div>     
        <div (click)="Kangourou()" class="{{ activeKangourou }} card flex items-center gap-3 cursor-pointer hover:shadow-md hover:border-y-4 hover:border-b-cyan-700">
            <div class="rounded-lg bg-gradient-to-br from-cyan-500 to-cyan-700 px-3 py-2 text-white">
                <span class="bi bi-hourglass-split text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Kangourou</p>
            </div>
        </div>
        <div (click)="remplacerContrat()" class="{{ remplacement }} card flex items-center cursor-pointer hover:shadow-md hover:border-y-4 hover:border-b-emerald-700 gap-1">
            <div class="rounded-lg bg-gradient-to-br from-emerald-500 to-emerald-700 px-3 py-2 text-white">
                <span class="bi bi-clock-history text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Remplacement</p>
            </div>
        </div>
        <div   (click)="finContrat()" class="{{ activeFinContrat }} card flex items-center gap-3 cursor-pointer hover:shadow-md hover:border-y-4  hover:border-b-violet-700">
            <div class="rounded-lg bg-gradient-to-br from-violet-500 to-violet-700 px-3 py-2 text-white">
                <span class="bi bi-folder-x text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Fin de Contrat</p>
            </div>
        </div>
    </section>
    <div class="my-5"></div> 
    <div class="card-title ">
        <div class=" flex justify-around border-b-2 border-b-green-700" >
          <div class="form-group   relative">   
            <select id="canal_id" [(ngModel)]="canal" class="bg-gray-50 border form-control border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected disabled>Selectionner un canal</option>
                @for(canal of dataAll?.canals;track canal.id)
                {
                  <option [ngValue]="canal">{{ canal.libelle }}</option>
                }
            </select>
          </div>
          <div class="  form-group  mx-auto relative">
        
            <select id="service" [(ngModel)]="categorie" class="bg-gray-50 border form-control border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected disabled>Selectionner une catégorie</option>
                @for(categ of dataAgenceInterim;track categ.id){
                  <option [ngValue]="categ">{{ categ.libelle }}</option>
                }
              </select>
          </div>
          <div class=" form-group  relative mx-auto ">
            <input [(ngModel)]="libelle" class="border-2 border-gray-300 bg-gray-100 h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
            type="search"   placeholder="Rechercher">
            <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
              <svg  class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                  viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;margin-top: -6px;" xml:space="preserve"
                  width="512px" height="512px">
                  <path
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
              </svg>
            </button>
          </div>
        <div class=" col-span-2  md:col-span-1">
            <button (click)="export()" class="btn btn-success">Exporter</button>
        </div>
        </div>
    </div>
    @if(isVisible){
        <section class=" mx-auto mt-5 w-full rounded-lg bg-white p-4 shadow-lg">
            <div class="mt-1">
                <div class="sm:rounded-lg">
                   <div class="data-table">
                      <div class="table-container">
                         <table class="ng-wind-table w-full relative">
                            <thead class="ng-wind-table-header {{ backg }} text-white border rounded-b-md">
                               <tr>
                                  <th scope="col" class="">
                                    
                                     <!-- <button (click)="sortingUp()" *ngIf="shorting === false" class="ml-2 text-lg">
                                        <i class="bi bi-arrow-down-short"></i>
                                     </button>
                                     <button (click)="sortingDown()" *ngIf="shorting === true" class="ml-2 text-lg">
                                        <i class="bi bi-arrow-up-short"></i>
                                     </button> -->
                                  </th>
                                  <th scope="col" class=" ng-wind-header-item text-center">
                                     Prenom
                                  </th>
                                  <th scope="col" class="ng-wind-header-item text-center">
                                     Nom
                                  </th>
                                  <th scope="col" class="ng-wind-header-item text-center">
                                     Poste
                                  </th>
                                  <th scope="col" class="ng-wind-header-item text-center">
                                    Matricule
                                 </th>
                                 <th scope="col" class="ng-wind-header-item text-center">
                                    Structure
                                 </th>
                                 <th scope="col" class="ng-wind-header-item text-center">
                                   Statut
                                </th>
                                  <th scope="col" class="ng-wind-header-item text-center">
                                     Action
                                  </th>
                               </tr>
                            </thead>
          
                            @if( dataInterims.length == 0 || dataInterims.length == undefined){
                            <div class="absolute top-52 w-full text-center">
                               <button disabled type="button"
                                  class="me-2 inline-flex items-center rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:text-blue-700 focus:ring-2 focus:ring-blue-700">
                                  <svg aria-hidden="true" role="status"
                                     class="me-3 inline h-4 w-4 animate-spin text-gray-200 dark:text-gray-600"
                                     viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                     <path
                                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                        fill="currentColor" />
                                     <path
                                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                        fill="#1C64F2" />
                                  </svg>
                                  Loading...
                               </button>
                            </div>
                            } @else {
                            <tbody>
                               @for (interim of dataInterims |rechercherLibelle:libelle|canalCategorie:canal:categorie:'interimaire'; track interim.id){
                               <tr class="border-b mt-5 bg-white hover:bg-gray-50">
                                  <td class="ng-wind-data-item whitespace-nowrap font-medium text-gray-800">
                                    <div
                                        class="w-9 h-9 ml-5 rounded-full flex items-center justify-center overflow-hidden  border-2 border-gray-500">
                                        @if(interim?.profile?.photo){
                                            <div  class="flex  w-34 h-32 overflow-hidden border-2 border-gray-500">
                                              <img class="w-full h-full object-contain" [src]="apiImag +interim?.profile?.photo " alt="Profile">
                                          </div>
                                          }@else{
                                            <div
                                                    class="w-32 h-32 flex items-center justify-center overflow-hidden rounded-full border-2 border-emerald-600">
                                                    <span  class="rounded-2xl w-10 h-10 bg-gray-400 flex items-center justify-center text-white font-semibold">
                                                       {{   getUserInitials( interim?.profile?.prenom || '', interim?.profile?.nom || '')}} 
                                                      </span>
                                                    <!-- <img class="w-full object-cover" src={{userOne}} alt="Profile"> -->
                                                </div>
                                          }
                                    </div>
                                  </td>
                                  <td class="ng-wind-data-item text-center">
                                     {{interim?.profile?.prenom}}
                                  </td>
                                  <td class="ng-wind-data-item text-center">
                                     {{interim?.profile?.nom}}
                                  </td>
                                  <td class="ng-wind-data-item text-center">
                                     {{interim?.poste?.libelle}}
                                  </td>
                                    <td class="ng-wind-data-item text-center">
                                        {{interim?.profile?.matricule}}
                                    </td>
                                    <td class="ng-wind-data-item text-center">
                                        @if(interim?.responsable?.service!=null){
                                            @if(interim?.responsable?.service?.departement?.pole?.libelle == 'N/A'){
                                                <button  class="cursor-default">{{ interim?.responsable?.service?.departement?.pole?.direction?.libelle}}/{{ interim?.responsable?.service?.departement?.libelle }}/{{ interim?.responsable?.service?.libelle }}</button>
                                            }@else{
                                            <button  class="cursor-default">{{ interim?.responsable?.service?.departement?.pole?.direction?.libelle}}/{{ interim?.responsable?.service?.departement?.pole?.libelle }}/{{ interim?.responsable?.service?.departement?.libelle }}/{{ interim?.responsable?.service?.libelle }}</button>
                                            }
                                        }
                                        @else if(interim?.responsable?.departement!=null){
                                            @if(interim?.responsable?.departement?.pole?.libelle == 'N/A'){
                                                <button  class="cursor-default">{{ interim?.responsable?.departement?.pole?.direction?.libelle}}/{{ interim?.responsable?.departement?.libelle }}</button>
                                            }@else{
                                            <button  class="cursor-default">{{ interim?.responsable?.departement?.pole?.direction?.libelle}}/{{ interim?.responsable?.departement?.pole?.libelle }}/{{ interim?.responsable?.departement?.libelle }}</button>
                                            }
                                        }
                                        @else if(interim?.responsable?.pole!=null){
                                            @if(interim?.responsable?.pole?.libelle == 'N/A'){
                                                <button  class="cursor-default">{{ interim?.responsable?.pole?.direction?.libelle}}</button>
                                            }@else{
                                            <button  class="cursor-default">{{ interim?.responsable?.pole?.direction?.libelle}}/{{ interim?.responsable?.pole?.libelle }}</button>
                                            } 
                                        }
                                        @else if(interim?.responsable?.direction!=null){                     
                                                <button  class="cursor-default" >{{ interim?.responsable?.direction?.libelle}}</button>        
                                        }  
                                    </td>
                                    <td class="ng-wind-data-item text-center ">
                                        
                                        @if(interim?.etat=="remplacer"){ 
                                            <button class ="tooltip relative w-3 h-3 cursor-default ">
                                                <svg xmlns="http://www.w3.org/2000/svg"  class="text-cyan-700" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M32 96l320 0 0-64c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l96 96c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-96 96c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6l0-64L32 160c-17.7 0-32-14.3-32-32s14.3-32 32-32zM480 352c17.7 0 32 14.3 32 32s-14.3 32-32 32l-320 0 0 64c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-96-96c-6-6-9.4-14.1-9.4-22.6s3.4-16.6 9.4-22.6l96-96c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 64 320 0z"/></svg>
                                               <span class="tooltip-text">Remplacé</span>
                                            </button>                   
                                        }
                                        @if(interim?.etat=="en cours"){
                                            <button class ="tooltip relative w-5 h-5 cursor-default ">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="text-green-600" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                                <span class="bg-green-600 tooltip-text ">En cours</span>
                                            </button>                   
                                        }
                                        @if(interim?.etat==="terminer"){
                                            <button class="tooltip relative w-5 h-5 cursor-default" >
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path  d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                                <span class="tooltip-text">Terminer</span>
                                            </button>
                                        }
                                        @if(interim?.etat == "rompre"){
                                            <button class="tooltip relative w-5 h-5 cursor-default" >
                                                <svg xmlns="http://www.w3.org/2000/svg" class="text-red-500"  viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                                                <span class="tooltip-text">Rompu</span>
                                            </button>
                                        }
                                    </td>
                                  <td class="ng-wind-data-item  text-center space-x-4">
                                    <button class="tooltip relative w-7 h-7 " >
                                        <svg xmlns="http://www.w3.org/2000/svg"   (click)="openModal(interim)" class="  text-info hover:text-info-800" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
                                        </svg>
                                    <span class="tooltip-text">Détails</span>
                                    </button>
                                    @if(activeKangourou && interim?.etat !=="remplacer"){
                                        <button class="tooltip relative w-6 h-6 ">
                                            <svg xmlns="http://www.w3.org/2000/svg" (click)="remplacer(interim)" class="text-cyan-700" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M32 96l320 0 0-64c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l96 96c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-96 96c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6l0-64L32 160c-17.7 0-32-14.3-32-32s14.3-32 32-32zM480 352c17.7 0 32 14.3 32 32s-14.3 32-32 32l-320 0 0 64c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-96-96c-6-6-9.4-14.1-9.4-22.6s3.4-16.6 9.4-22.6l96-96c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 64 320 0z"/></svg>
                                            <span class="tooltip-text">Remplacer</span>
                                        </button>
                                        <!-- <button  type="button" class="focus:outline-none text-white bg-cyan-700 hover:bg-cyan-800 focus:ring-4 focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-cyan-600 dark:hover:bg-cyan-700 dark:focus:ring-cyan-900">Remplacer</button> -->
                                    }
                                   @if(activeKangourou==""){
                                    @if(interim?.etat =="en cours"){
                                        <button class="tooltip relative w-7 h-7 " >
                                            <svg xmlns="http://www.w3.org/2000/svg" (click)="rompre(interim)" class=" text-red-600 hover:text-red-700 -mt-1" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
                                            <!-- <svg xmlns="http://www.w3.org/2000/svg"  (click)="rompre(interim)" class=" text-red-600 hover:text-red-900" viewBox="0 0 384 512">!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.<path fill="currentColor" d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg> -->
                                            <span class="tooltip-text">Rompre</span>
                                        </button>
                                    }
                                    @if(interim?.etat === "rompre" || interim?.etat === "terminer")
                                    {
                                        <button class ="tooltip relative w-7 h-7  ">
                                            <svg xmlns="http://www.w3.org/2000/svg" (click)="renouveler(interim)" class="text-green-600" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                            <span class="tooltip-text">Renouveler</span>
                                        </button>
                                    }
                                    <button  class="tooltip relative w-7 h-7 " >
                                        <svg xmlns="http://www.w3.org/2000/svg" (click)="editer(interim)" class=" text-blue-700 hover:text-blue-800" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H322.8c-3.1-8.8-3.7-18.4-1.4-27.8l15-60.1c2.8-11.3 8.6-21.5 16.8-29.7l40.3-40.3c-32.1-31-75.7-50.1-123.9-50.1H178.3zm435.5-68.3c-15.6-15.6-40.9-15.6-56.6 0l-29.4 29.4 71 71 29.4-29.4c15.6-15.6 15.6-40.9 0-56.6l-14.4-14.4zM375.9 417c-4.1 4.1-7 9.2-8.4 14.9l-15 60.1c-1.4 5.5 .2 11.2 4.2 15.2s9.7 5.6 15.2 4.2l60.1-15c5.6-1.4 10.8-4.3 14.9-8.4L576.1 358.7l-71-71L375.9 417z"/></svg>
                                        <span class="tooltip-text">Editer</span>
                                    </button>
                                    
                                   }
                                  </td>
                               </tr>
                               }
                            </tbody>
                            }
                         </table>
                      </div>
                   </div>
                  
                </div>
             </div>
        </section>
    }@else{
        <mat-table #table [dataSource]="dataRemplacer"  class="mat-elevation-z8 border shadow-md" cdkDropList (cdkDropListDropped)="drop($event)"
        cdkDropListData="dataRemplacer">
        <ng-container matColumnDef="Prenom" sticky>
            <mat-header-cell *matHeaderCellDef class="bg-600"> Prenom </mat-header-cell>
            <mat-cell *matCellDef="let element">
                @for(item of element.remplacer.interimaires;track item.id){
                    <span>{{item.profile.prenom}}</span>
                }
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Nom">
            <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
            <mat-cell *matCellDef="let element">
                @for(item of element.remplacer.interimaires;track item.id){
                {{item.profile.nom}} 
                }
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button class ="tooltip relative w-3 h-3 cursor-default ">
                <svg xmlns="http://www.w3.org/2000/svg"  class="text-cyan-700" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M32 96l320 0 0-64c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l96 96c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-96 96c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6l0-64L32 160c-17.7 0-32-14.3-32-32s14.3-32 32-32zM480 352c17.7 0 32 14.3 32 32s-14.3 32-32 32l-320 0 0 64c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-96-96c-6-6-9.4-14.1-9.4-22.6s3.4-16.6 9.4-22.6l96-96c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 64 320 0z"/></svg>
                <span class="tooltip-text mt-3">Remplacé</span>
                </button> </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Prénom">
                <mat-header-cell *matHeaderCellDef> Prenom </mat-header-cell>
                <mat-cell *matCellDef="let element">
                @for(item of element.remplacant.interimaires;track item.id){
                {{item.profile.prenom}} 
                }
                </mat-cell>
            </ng-container>
        <ng-container matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
            <mat-cell *matCellDef="let element">
                @for(item of element.remplacant.interimaires;track item.id){
                            {{item.profile.nom}} 
                }
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns" class="bg-green-600"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>
        </mat-table>
    } 
    <nav class="ng-wind-table-pagination bg-white mt-0.5 flex justify-between items-center" aria-label="Table navigation">
        <div class="ng-wind-table-page-view ml-2 flex items-center">
          Lignes par page:
           <div class="mx-2">
                <select (click)="PageTailleChange($event)" id="states" class="block w-full rounded-sm bg-gray-100 p-1 text-xs text-gray-900">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="tous">all</option>
                </select>
            </div>
          <!-- <div class="mx-2">
            <select  id="states" class="block w-full rounded-sm bg-gray-100 p-1 text-xs text-gray-900">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            </select>
          </div> -->
          <span class="me-1 ms-4 font-semibold text-gray-900">{{ currentPage }}</span> /
          <span class="ms-1 font-semibold text-gray-900">{{ totalPages.length }}</span>&nbsp; sur <span class="text-gray-900">&nbsp; {{ total }}</span>
        </div>
        <ul class="inline-flex h-8 -space-x-px text-xs rtl:space-x-reverse mr-3">
            <li>
               <a (click)="prevPage()" class="cursor-pointer ng-wind-page-prev">
                  Précédent
               </a>
            </li>
            @for ( page of totalPages;track page){
            <li  [class.activate]="page==currentPage">
               <a (click)="selectPage(page)" aria-current="page" [ngClass]="page == currentPage ? 'active-page' : 'bg-white hover:bg-gray-100' "
                  class="page-number cursor-pointer">
                  {{page}}
               </a>
            </li>
            }
            <li>
               <a (click)="nextPage()" class="ng-wind-page-next cursor-pointer">Suivant</a>
            </li>
         </ul>
      </nav>
 
    <!-- Example Modal -->
</div>
<!-- details -->
<app-modal  [show]="showModal" 
(clickCommentaire)="clickCommentaire($event)" (closeModal)="onModalCloseHandler($event)"
[premierButtonText]="isCommentaire ? 'Enregistrer':'Commentaire'"
[deuxiemeButtonText]="annuler ? 'Fermer' : 'Annuler'"
[couleur]="couleur"
>
   <div class="sm:flex sm:items-start">

      <div class="flex justify-between space-x-24">
          <div class="flex items-center gap-3 sticky top-0 bg-white px-8 py-3 shadow-[0_5px_5px_-5px] shadow-gray-600">
              <div class="w-32 h-30 flex items-center justify-center overflow-hidden  border-2 border-emerald-600">
                  @if(interimaire?.profile?.photo){
                    <div  class="flex overflow-hidden border-2 border-gray-500">
                      <img class="w-full h-full object-contain" [src]="apiImag +interimaire?.profile?.photo " alt="Profile">
                    </div>
                  }@else{
                    <div class="w-32 h-32 flex items-center justify-center overflow-hidden rounded-full border-2 border-emerald-600">
                            <span  class="rounded-2xl w-16 h-16 bg-gray-400 flex items-center justify-center text-white font-semibold">
                               {{   getUserInitials( interimaire?.profile?.prenom || '', interimaire?.profile?.nom || '')}} 
                            </span>
                    </div>
                  }
              </div>
          </div>
          <div class="space-y-2 mt-3 justify-end">
              <div class="font-mono flex">
                  <div ><strong>Prénom :&nbsp;</strong></div>
                  <div>{{interimaire?.profile?.prenom}}</div>
              </div>
              <div class="flex">
                  <div><strong>Nom :&nbsp;</strong></div>
                  <div>{{interimaire?.profile?.nom}}</div>
              </div>
              <div class="flex">
                  <div><strong>Matricule :&nbsp;</strong></div>
                  <div>{{interimaire?.profile?.matricule}}</div>
              </div>
              <div class="profile-dropdown relative inline-block space-y-1">
                    <div>
                    <button type="button" class="flex mr-3 text-sm  rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 btn btn-outline-secondary py-1" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom" (click)="toggleDropdown()" >Contact</button>
                    </div>
                    <div class="profile-dropdown-list absolute  text-white  mr-3 text-sm bg-gray-900  md:mr-0    py-1  border rounded-lg border-gray-700" [hidden]="isDropdownOpen">
                        <div class="flex flex-col text-sm">
                        <div>
                                <a title="Numéro Téléphone" class="block   px-4 py-2 text-sm text-white hover:bg-gray-600 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">{{ interimaire?.profile?.telephone }} </a>     
                        </div>
                        </div>
                        <div class="border-t border-slate-500/30"></div>
                        <div class="flex flex-col text-sm">                    
                            <a  title="Numéro Téléphone Pro" class="block px-4 py-2 text-sm text-white hover:bg-gray-600 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">{{ interimaire?.profile?.telephone_pro }}</a>                    
                        </div>
                        <div class="border-t border-slate-500/30"></div>
                        <div class="">                  
                            <a title="Mail Professionnel" class="block px-4 py-2 text-sm text-white hover:bg-gray-600 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">{{ interimaire?.profile?.email }}</a>                  
                        </div>
                    </div>
              </div>
             
          </div>
      </div>
  </div> 
  <div class="mt-1 flex ml-1">
     <div> Poste :&nbsp; </div>
      <button type="button" class="btn btn-outline-secondary py-1  ">  {{interimaire?.poste?.libelle}}</button>
  </div>
  @if(faireCommentaire){
      <div class=" flex space-x-3 mt-5">
          <div>
              <div  class="tooltip relative">Lieu :
                  <span class="tooltip-text absolute">
                      lieu d'execution
                  </span>
              </div>
              <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.responsable?.locau?.libelle}}
              </button>
          </div>
          <div>
              <div >Responsable :</div>
              <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.responsable?.profile?.prenom }} {{interimaire?.responsable?.profile?.nom}}</button>
          </div>
          <div>
              <div>Structure : &nbsp;</div>
              @if(interimaire?.responsable?.service!=null){
                  @if(interimaire?.responsable?.service?.departement?.pole?.libelle == 'N/A'){
                      <button  class="btn btn-outline-secondary me-2">{{ interimaire?.responsable?.service?.departement?.pole?.direction?.libelle}}/{{ interimaire?.responsable?.service?.departement?.libelle }}/{{ interimaire?.responsable?.service?.libelle }}</button>
                  }@else{
                  <button  class="btn btn-outline-secondary me-2">{{ interimaire?.responsable?.service?.departement?.pole?.direction?.libelle}}/{{ interimaire?.responsable?.service?.departement?.pole?.libelle }}/{{ interimaire?.responsable?.service?.departement?.libelle }}/{{ interimaire?.responsable?.service?.libelle }}</button>
                  }
              }
              @else if(interimaire?.responsable?.departement!=null){
                  @if(interimaire?.responsable?.departement?.pole?.libelle == 'N/A'){
                      <button  class="btn btn-outline-secondary me-2">{{ interimaire?.responsable?.departement?.pole?.direction?.libelle}}/{{ interimaire?.responsable?.departement?.libelle }}</button>
                  }@else{
                  <button  class="btn btn-outline-secondary me-2">{{ interimaire?.responsable?.departement?.pole?.direction?.libelle}}/{{ interimaire?.responsable?.departement?.pole?.libelle }}/{{ interimaire?.responsable?.departement?.libelle }}</button>
                  }
              }
              @else if(interimaire?.responsable?.pole!=null){
                  @if(interimaire?.responsable?.pole?.libelle == 'N/A'){
                      <button  class="btn btn-outline-secondary me-2">{{ interimaire?.responsable?.pole?.direction?.libelle}}</button>
                  }@else{
                  <button  class="btn btn-outline-secondary me-2">{{ interimaire?.responsable?.pole?.direction?.libelle}}/{{ interimaire?.responsable?.pole?.libelle }}</button>
                  } 
              }
              @else if(interimaire?.responsable?.direction!=null){                     
                      <button  class="btn btn-outline-secondary me-2" >{{ interimaire?.responsable?.direction?.libelle}}</button>        
              }  
          </div>
          <div>
              <div>Agence :</div>
              <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.categorie?.agence?.libelle }}</button>
          </div>
      </div>
      <div class="flex space-x-3 mt-7">
         <div>
              <div>Categorie :</div>
              <button type="button" class="btn btn-outline-secondary me-2">{{interimaire?.categorie?.libelle }}</button>
         </div>
         <div  class="flex flex-col">
              <button class="tooltip relative">Unitaire :
                  <span class="tooltip-text absolute ">
                      Coût Unitaire
                  </span>
              </button>
              <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">{{getNumber(interimaire?.categorie?.cout_unitaire_journalier) }}
                  <span class="tooltip-text absolute ">
                      FCFA
                  </span>
              </button>
          </div>
          <div  class="flex flex-col">
              <button class=" tooltip relative  ">Durée :
                  <span class="tooltip-text absolute ">
                      Durée Kangourou
                  </span>
              </button>
              <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">{{interimaire?.poste?.duree_kangurou }}
                <span class="tooltip-text absolute ">
                    Jour
                </span>
              </button>
          </div>
         <div  class="flex flex-col">
              <button class=" tooltip relative">Montant :
                  <span class="tooltip-text absolute ">
                      Montant Kangourou
                  </span>
              </button>
              <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">{{getNumber(interimaire?.poste?.montant_kangurou) }}
                  <span class="tooltip-text absolute">
                      FCFA
                  </span>
              </button>
         </div>
         <!-- <div>
              <div> Poste: </div>
              <button type="button" class="btn btn-outline-secondary me-2  ">  {{interimaire?.poste?.libelle}}</button>
         </div> -->
        
      </div>
      <!-- @for(contrat of interimaire?.contrats;track contrat.id){       -->
      <div class=" flex space-x-3 mt-7">
          <div  class="flex flex-col">
              <button class=" tooltip relative">Début :
                  <span class="tooltip-text absolute ">
                      Début Contrat
                  </span>
              </button>
              <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">
                  {{interimaire?.contrats?.date_debut_contrat}}
               </button>
          </div>
          <div  class="flex flex-col">
              <button class=" tooltip relative" >Fin :
                  <span class="tooltip-text absolute ">
                      Fin Contrat
                  </span>
              </button> 
              <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">{{interimaire?.contrats?.date_fin_contrat}}</button>
          </div>
          <div  class="flex flex-col">
              <button class="tooltip relative">Presence :
                  <span class="tooltip-text absolute ">
                      Temps Presence Structure
                  </span>
              </button>
              <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{getNumber(interimaire?.contrats?.temps_presence_structure_actuel)}}
                  <span class="tooltip-text absolute ">
                      JOUR
                  </span>
              </button>
          </div>
          <div  class="flex flex-col">
              <button class="tooltip relative"> Autre :
                  <span class="tooltip-text absolute ">
                      Presence Autre Structure
                  </span>
              </button>
              <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">
                  {{interimaire?.contrats?.temps_presence_autre_structure_sonatel}}
                  <span class="tooltip-text absolute">
                      MOIS
                  </span>
               </button>
          </div>
          <div  class="flex flex-col">
              <button class="tooltip relative"> Cumul :
                  <span class="tooltip-text absolute ">
                      Cumul Presence structure
                  </span>
              </button> 
              <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{interimaire?.contrats?.cumul_presence_sonatel}}
                  <span class="tooltip-text absolute">
                      MOIS
                  </span>
              </button>
          </div>
      </div>
      <div class=" flex space-x-3 space-y-2 mt-7">
          <div  class="flex flex-col">
              <button class="tooltip relative mt-2"> Contrat :
                  <span class="tooltip-text absolute ">
                      Durée Contrat
                  </span>
              </button>
              <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{interimaire?.contrats?.duree_contrat}}
                  <span class="tooltip-text absolute ">
                      MOIS
                  </span>
              </button>
          </div>
          <div  class="flex flex-col">
              <button class="tooltip relative"> Reste  :
                  <span class="tooltip-text absolute ">
                      Durée Restant
                  </span>
              </button>
              <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">
                  {{interimaire?.contrats?.duree_contrat_restant}}
                  <span class="tooltip-text absolute">
                      MOIS
                  </span>
               </button>
          </div>
          <div  class="flex flex-col">
              <button 
              class="tooltip relative"> Mensuel  :
                  <span class="tooltip-text absolute ">
                      Coût Mensuel
                  </span>
              </button> 
              <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{getNumber(interimaire?.contrats?.cout_mensuel)}}
                  <span class="tooltip-text absolute">
                      FCFA
                  </span>
              </button>
          </div>
          <div  class="flex flex-col">
              <button class="tooltip relative">Global  :
                  <span class="tooltip-text absolute">
                      Coût Global 
                  </span>
              </button>
              <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{getNumber(interimaire?.contrats?.cout_global)}}
                  <span class="tooltip-text absolute">
                      FCFA
                  </span>
              </button>
          </div>
          <div>
              <div>DA :</div>
              <button type="button" class="btn btn-outline-secondary me-2">
                  {{getNumber(interimaire?.contrats?.DA)}}
               </button>
          </div>
      </div>
      <div class=" flex space-x-3 mt-7">
          <div class="flex flex-col">
              <button class="tooltip text-nowrap relative"> Kangourou :
                  <span class="tooltip-text absolute">
                      DA kangourou
                  </span>
              </button> 
              <button type="button" class="btn btn-outline-secondary me-2">{{getNumber( interimaire?.contrats?.DA_kangourou)}}</button>
          </div>
          @if(interimaire?.profile?.commentaire !== null){
              <div class="flex w-full flex-col">
                  <button class="cursor-default" > Commentaire</button> 
                  <textarea name="" readonly  class="border w-full border-gray-600 bg-gray-100">{{ interimaire?.profile?.commentaire }}</textarea>
              </div>
          }
      </div>
      @if(interimaire?.etat==="rompre"){
      <div class="flex space-x-3 mt-4">
            <div class="flex flex-col">
                <button class="tooltip text-nowrap relative"> Date :
                    <span class="tooltip-text absolute">
                        Date de rompre
                    </span>
                </button>
                <button type="button" class="btn btn-outline-secondary me-2 text-nowrap">{{interimaire?.contrats?.date}}</button>
            </div>
            <div class="flex flex-col w-full">
                <button class="tooltip text-nowrap relative"> Motif :
                    <span class="tooltip-text absolute ">
                        Motif de Rompre
                    </span>
                </button>
                <div class="text-center rounded-md border-2 ">{{ interimaire?.contrats?.motif }}</div>
                <!-- <mat-form-field class="" >
                    <mat-label></mat-label>
                    <textarea matInput
                            readonly
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5">{{ interimaire?.contrats?.motif }}
                    </textarea>
                </mat-form-field> -->
            </div>
      </div>
      }
  }@else{
      <textarea [(ngModel)]="commentaire"  class="m-3 w-full h-32 border border-gray-600" name="" id=""></textarea>
  }
  
</app-modal>
<!-- Rompre -->
<app-modal 
    [show]="showModalRompre" 
    [premierButtonText]="'oui'"
    [deuxiemeButtonText]="'non'"
    (clickCommentaire)="openModalRompre($event)"
    (closeModal)="onModalCloseRompre($event)"
    [couleur]="couleurRompre"
    [formeValide]="formeValide"
>
    <div class="sm:flex sm:items-start">

        <div class="flex justify-between space-x-24">
            <div class="flex items-center gap-3 sticky top-0 bg-white px-8 py-3 shadow-[0_5px_5px_-5px] shadow-gray-600">
                <div
                    class="w-32 h-30 flex items-center justify-center overflow-hidden  border-2 border-emerald-600">
                    @if(interimaire?.profile?.photo){
                        <div  class="flex overflow-hidden border-2 border-gray-500">
                          <img class="w-full h-full object-contain" [src]="apiImag +interimaire?.profile?.photo " alt="Profile">
                        </div>
                      }@else{
                        <div class="w-32 h-32 flex items-center justify-center overflow-hidden rounded-full border-2 border-emerald-600">
                                <span  class="rounded-2xl w-16 h-16 bg-gray-400 flex items-center justify-center text-white font-semibold">
                                   {{   getUserInitials( interimaire?.profile?.prenom || '', interimaire?.profile?.nom || '')}} 
                                </span>
                        </div>
                      }
                </div>
            </div>
            <div class="space-y-2 mt-3 justify-end">
                <div class="font-mono flex">
                    <div ><strong>Prénom : &nbsp;</strong></div>
                    <div>{{interimaire?.profile?.prenom}}</div>
                </div>
                <div class="flex">
                    <div><strong>Nom : &nbsp;</strong></div>
                    <div>{{interimaire?.profile?.nom}}</div>
                </div>
                <div class="flex">
                    <div><strong>Matricule :&nbsp;</strong></div>
                    <div>{{interimaire?.profile?.matricule}}</div>
                </div>
                <div class="flex">
                    <div><strong>Telephone :&nbsp;</strong></div>
                    <div>{{interimaire?.profile?.telephone}}</div>
                </div>
            </div>
        </div>
    </div> 
    <div class="mt-1 flex ml-1">
    <div> Poste : &nbsp;</div>
        <button type="button" class="btn btn-outline-secondary py-1  ">  {{interimaire?.poste?.libelle}}</button>
    </div>
    <div>
        @if(interimaire?.etat!=="terminer"){
                <form action="" [formGroup]="formRompre">
                    <div class="form-group mt-3">
                        <label for="date" class="form-label required"> Date</label>
                        <input type="date" formControlName="date" name="" class="form-control" id=""
                        [ngClass]="{'floating_outlined_error  dark:border-red-500 border-red-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600':formRompre.get('date')?.invalid &&(formRompre.get('date')?.touched || formRompre.get('date')?.dirty),
                        'floating_outlined_success  dark:border-green-500 border-green-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600':formRompre.get('date')?.valid &&(formRompre.get('date')?.touched || formRompre.get('date')?.dirty)}"
                        >
                        <div *ngIf="formRompre.controls['date'].hasError('horsIntervale')" class="text-red-500 text-xs">
                            La  date doit compris entre {{ interimaire?.contrats?.date_debut_contrat }} et {{ interimaire?.contrats?.date_fin_contrat}} .
                        </div>
                        <div *ngIf="formRompre.controls['date'].hasError('erreur')" class="text-red-500 text-xs">
                            La  date ne doit pas être une date antérieur.
                        </div>
                    </div>
                    @if(interimaire?.etat ==="en cours"){
                    <div class="form-group mt-3">
                        <label for="prenom" class="form-label required"> Motif</label>
                        <textarea name="" formControlName="motif" id="" class="border border-gray-400 bg-slate-200"
                        [ngClass]="{'floating_outlined_error  dark:border-red-500 border-red-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600':formRompre.get('motif')?.invalid &&(formRompre.get('motif')?.touched || formRompre.get('motif')?.dirty),
                        'floating_outlined_success  dark:border-green-500 border-green-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600':formRompre.get('motif')?.valid &&(formRompre.get('motif')?.touched || formRompre.get('motif')?.dirty)}"
        
                        ></textarea>
                    </div>
                    }
                   
                </form>
            }
            @else{
               <form action="" [formGroup]="formRenouveler">
                    <div>
                        <div class="text-red-600"> il a déja fait {{ calculDuree(interimaire?.contrats?.date_fin_contrat,interimaire?.contrats?.date_debut_contrat) }} mois</div>
                        <div class="form-group mt-3">
                            <label for="date" class="form-label required"> Date début</label>
                            <input type="date" formControlName="date_debut" name="" class="form-control" id="">
                            @if(formRenouveler.get('date_debut')?.invalid && formRenouveler.get('date_debut')?.touched){
                                @if(formRenouveler.get('date_debut')?.hasError('required')){
                                
                                    <div class="text-red-500 text-xs">Date début contrat est obligatoire</div>
                            }
                            }
                            <div *ngIf="formRenouveler.controls['date_debut'].hasError('hors')" class="text-red-500 text-xs">
                                La  date de debut  doit  inférieur à la date de fin.
                            </div>
                            <div *ngIf="formRenouveler.controls['date_debut'].hasError('error')" class="text-red-500 text-xs">
                                La  date de debut ne doit pas être une date antérieur.
                            </div>
                            <div *ngIf="formRenouveler.controls['date_debut'].hasError('trois')" class="text-red-500 text-xs">
                                La  date de debut doit commencer 3 jours a partir d'aujourd'hui.
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="prenom" class="form-label required"> Date de fin</label>
                            <input type="date" formControlName="date_fin" name="" class="form-control" id="">
                            @if(formRenouveler.get('date_fin')?.invalid && formRenouveler.get('date_fin')?.touched){
                                @if(formRenouveler.get('date_fin')?.hasError('required')){
                                
                                    <div class="text-red-500 text-xs">Date fin contrat est obligatoire</div>
                            }
                            }
                            <div *ngIf="formRenouveler.controls['date_fin'].hasError('hors')" class="text-red-500 text-xs">
                                La  date de fin  doit  supérieur à la date de debut.
                            </div>
                            <div *ngIf="formRenouveler.controls['date_fin'].hasError('error')" class="text-red-500 text-xs">
                                Le Contrat doit durée maximun deux ans .
                            </div>
                        </div>
                    </div>
               </form>
            }
        
    </div>
</app-modal>
<!-- Rompre valider  -->
<app-modal 
    [show]="showRompre" 
    [premierButtonText]="'valider'"
    [deuxiemeButtonText]="'Annuler'"
    (clickCommentaire)="validerRompre($event)"
    (closeModal)="closeRompre($event)"
    [couleur]="couleurRompre"
    [footer]="footer"
   >
@if(message){
    <app-alert [show]="true"  [dismissible]="true">
        <h6 class="text-lg font-semibold">
            <i class="bi bi-check2-circle"></i>
            Success
        </h6>
        <p> {{ message }}
        </p>
    </app-alert>
}
@if(footer){
    <p> Voulez-vous vraiment {{messageContrat}} ce contrat</p>
}
</app-modal>
<div id="popup-modal" tabindex="-1" class="{{ hiddern }} flex fixed  top-32 right-12 left-36 z-50 justify-center items-center isset-0">
    <div class="relative p-4 w-full max-w-md max-h-full ">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700  border-2 border-orange-600">
            <button (click)="close()" type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                <svg  class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">{{messageExport}}</h3>
                <button (click)="valider()" data-modal-hide="popup-modal" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                    OUI
                </button>
                <button (click)="close()" data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-white focus:outline-none bg-red-600 rounded-lg border border-gray-200 hover:bg-red-700 hover:text-white- focus:z-10 focus:ring-4 focus:ring-red-800 dark:focus:ring-red-700 dark:bg-red-800 dark:text-gray-100 dark:border-gray-600 dark:hover:text-white dark:hover:bg-red-700">NON</button>
            </div>
        </div>
    </div>
 </div>
