.tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 90;
    bottom: 115%; 
    left: -10%;
    margin-left: -40px; 
    opacity: 0;
    transition: opacity 0.3s;
  } 
  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -1px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  } 
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  mat-header-cell{
    background-color: orangered;
  }
  /* .custom-header {
    background-color: #bf2929;
    --tw-text-opacity: 1;
    color: rgb(185 28 28 / var(--tw-text-opacity)); 
    font-weight: bold;
}
.bg-600 {
  --tw-text-opaacity:1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
  font-weight: bold;
} */
