<div [@pageTransition]>
    <section class="container mx-auto  w-12/12 rounded-lg bg-white p-4 shadow-lg">
        <h2 class="mb-4 text-xl font-bold"></h2>
        <div class="overflow-x-auto  shadow-md sm:rounded-lg">
            <!-- <table class="min-w-full bg-white">
                <thead>
                    <tr>

                        <th class="bg-gray-200 px-4 py-1">Photo</th>
                        <th class="bg-gray-200 px-4 py-1">Prénom</th>
                        <th class="bg-gray-200 px-4 py-1">Nom</th>
                        <th class="bg-gray-200 px-4 py-1">Matricule</th>
                        <th class="bg-gray-200 px-4 py-1">structure</th>
                        <th class="bg-gray-200 px-4 py-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td class="border px-4 text-center py-1">
                            <div
                                class="w-9 h-9 rounded-full flex items-center justify-center overflow-hidden  border-2 border-gray-500">
                                <img class="w-full object-cover" [src]="'http://127.0.0.1:8000/uploads/higlights/' +dataDV?.avatar " alt="Profile">
                            </div>
                        </td>
                        <td class="border px-4 py-2">{{ dataDV?.prenom }}</td>
                        <td class="border px-4 py-2">{{ dataDV?.nom }}</td>
                        <td class="border px-4 py-2">{{ dataDV?.matricule }}</td>
                        <td class="border px-4 py-2">{{ dataDV?.direction?.libelle }}</td>
                        <td class="border px-4 py-2 text-center">
                            <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                            <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                        </td>
                    </tr>
                    @for(col of dataDV?.collaborateurs;track col.id;let index=$index){
                        <tr>
                            <td class="border px-4 text-center py-1">
                                <div 
                                    class="w-9 h-9 rounded-full flex items-center justify-center overflow-hidden  border-2 border-gray-500">
                                    <img  (click)="toggleAccordion(col,index)"  class="w-full object-cover" [src]="'http://127.0.0.1:8000/uploads/higlights/' +col?.avatar " alt="Profile">
                                </div>
                            </td>
                            <td class="border px-4 py-2">{{ col?.prenom }}</td>
                            <td class="border px-4 py-2">{{ col?.nom }}</td>
                            <td class="border px-4 py-2">{{ col?.matricule }}</td>
                           @if(col?.departement?.pole?.libelle =='N/A'){
                            <td class="border px-4 py-2">{{ col?.departement?.pole?.direction?.libelle +'/'+col?.departement?.libelle}}</td>
                           }
                            <td class="border px-4 py-2 text-center">
                                <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                                <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                            </td>
                        </tr>
                        @if(col.status){
                            <tr>
                                <td colspan="5" class="p-0">
                                    <div  class="hs-accordion-content shadow-md sm:rounded-lg w-full overflow-hidden transition-[height] duration-300">
                                        <table class="w-full bg-white">
                                            <tr>
                                                <th class="bg-gray-200 px-4 py-1">Photo</th>
                                                <th class="bg-gray-200 px-4 py-1">Prénom</th>
                                                <th class="bg-gray-200 px-4 py-1">Nom</th>
                                                <th class="bg-gray-200 px-4 py-1">Matricule</th>
                                                <th class="bg-gray-200 px-4 py-1">structure</th>
                                                <th class="bg-gray-200 px-4 py-1">Actions</th>
                                            </tr>
                                            <tbody>
                                                @for(collab of col?.collaborateurs;track collab.id){
                                                <tr>
                                                    <td class="border px-4 text-center py-1">
                                                        <div
                                                            class="w-9 h-9 rounded-full flex items-center justify-center overflow-hidden  border-2 border-gray-500">
                                                            <img class="w-full object-cover" [src]="'http://127.0.0.1:8000/uploads/higlights/' +collab?.avatar " alt="Profile">
                                                        </div>
                                                    </td>
                                                    <td class="border px-4 py-2">{{ collab?.prenom }}</td>
                                                    <td class="border px-4 py-2">{{ collab?.nom }}</td>
                                                    <td class="border px-4 py-2">{{ collab?.matricule }}</td>
                                                @if(collab?.service?.departement?.pole?.libelle =='N/A'){
                                                    <td class="border px-4 py-2">{{ collab?.service?.departement?.pole?.direction?.libelle +'/'+collab?.service?.departement?.libelle+'/'+collab?.service?.libelle}}</td>
                                                }
                                                    <td class="border px-4 py-2 text-center">
                                                        <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                                                        <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                     
                </tbody>
            </table> -->
        </div>
        <!-- <div class="container mx-auto p-4">
            <h1 class="text-3xl font-bold mb-4">Directeur</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <div class="bg-gray-800 rounded-lg p-4">
                  
                    <h2 class="text-xl font-bold mb-2">Nom du Directeur</h2>
                    <p class="text-gray-300">Poste du Directeur</p>
                    <p class="text-gray-500">Description du Directeur</p>
                </div>
                <div class="bg-gray-800 rounded-lg p-4">
                   
                    <h2 class="text-xl font-bold mb-2">Nom du Collaborateur 1</h2>
                    <p class="text-gray-300">Poste du Collaborateur 1</p>
                    <p class="text-gray-500">Description du Collaborateur 1</p>
                </div>
                <div class="bg-gray-800 rounded-lg p-4">
                   
                    <h2 class="text-xl font-bold mb-2">Nom du Collaborateur 2</h2>
                    <p class="text-gray-300">Poste du Collaborateur 2</p>
                    <p class="text-gray-500">Description du Collaborateur 2</p>
                </div>
                <div class="bg-gray-800 rounded-lg p-4">
                  
                    <h2 class="text-xl font-bold mb-2">Nom du Collaborateur 3</h2>
                    <p class="text-gray-300">Poste du Collaborateur 3</p>
                    <p class="text-gray-500">Description du Collaborateur 3</p>
                </div>
            </div>
        </div> -->
        <!-- <div class="container mx-auto p-4">
            <h1 class="text-3xl font-bold mb-4">Directeur</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                @for(collaborateur of collaborateurs;track collaborateur.prenom){
              <div class="bg-gray-800 rounded-lg p-4"  (click)="afficherChefService(collaborateur)">
                <h2 class="text-xl font-bold text-white">{{ collaborateur.nom }} {{ collaborateur.prenom }}</h2>
                <p class="text-gray-300">Matricule : {{ collaborateur.matricule }}</p>
                <button class="btn-details" (click)="afficherDetails(collaborateur)">Détails</button>
                <div class="chef-service" *ngIf="chefServiceVisible">
                  <h3>Chefs de service :</h3>
                  <ul>
                    @for(chefService of collaborateur.chefsService;track chefService.nom){
                    <li  (click)="afficherCollaborateurService(chefService)">
                      {{ chefService.nom }} {{ chefService.prenom }} ({{ chefService.matricule }})
                    </li>
                    }
                  </ul>
                </div>
                <div class="collaborateur-service" *ngIf="collaborateurServiceVisible">
                  <h3>Collaborateurs de service :</h3>
                  <ul>
                    <li *ngFor="let collaborateurService of collaborateur.collaborateursService" (click)="afficherDetails(collaborateurService)">
                      {{ collaborateurService.nom }} {{ collaborateurService.prenom }} ({{ collaborateurService.matricule }})
                    </li>
                  </ul>
                </div>
              </div>
            }
            </div>
          </div> -->

          <div class="container mx-auto p-4">
            <h1 class="text-3xl font-bold "> </h1>
            <div class="grid grid-cols-2 sm:grid-cols-2 ml-32 mr-64 md:grid-cols-3 lg:grid-cols-1 gap-4">  
                <div class="border border-gray-600 rounded-lg p-4  w-full space-x-12 flex items-center">
                    <div class="bg-gray-800 rounded-lg p-1">
                        <div class="flex h-32 w-24  overflow-hidden border-2 border-gray-500">
                        <img class="w-full h-full object-contain" [src]="apiImg + dataDV?.profile?.photo" alt="Profile">
                        </div>
                    </div>
                    <div class="ml-4">
                        <h2 class="text-xl font-bold "> {{ dataDV?.profile?.prenom }} {{ dataDV?.profile?.nom }}</h2>
                        <p class="">Matricule : {{ dataDV?.profile?.matricule }}</p>
                        <p class="">Telephone : {{ dataDV?.profile?.telephone }}</p>
                        <p class="">Structure :{{ dataDV?.direction?.libelle}}</p>
                        <button type="button" (click)="afficherDetails(dataDV)" class="btn btn-success btn-icon ">
                            Détails
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                               fill="none" viewBox="0 0 14 10">
                               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                         </button>                    
                    </div>
                </div>
            </div>
          <!-- @if(pole){
            <h4 class="text-3xl font-bold  mt-2"> support</h4>
          }@else{
              <h4 class="text-3xl font-bold  mt-2"> DOC</h4>
          } -->
          <h4 class="text-3xl font-bold "> {{ support }}</h4>
            <div class="grid grid-cols-2 mt-1 sm:grid-cols-2  md:grid-cols-3 lg:grid-cols-2 gap-4">  
                @for(collab of dataDV?.collaborateurs;track collab?.id){
                    
                <div  class="border border-gray-600 rounded-lg p-4   w-full flex items-center">
                    <div class="bg-gray-800 rounded-lg p-1 cursor-pointer" (click)="afficheChefService(collab)">
                        <div class="flex h-32 w-20  overflow-hidden border-2 border-gray-500">
                            <img class="w-full h-full object-contain" [src]="apiImg + collab?.profile?.photo" alt="Profile">
                        </div>
                    </div>
                    <div class="ml-4">
                        <h2 class="text-xl font-bold "> {{ collab?.profile?.prenom }} {{ collab?.profile?.nom }}</h2>
                        <p class="">Matricule : {{ collab?.profile?.matricule }}</p>
                        <p class="">Telephone : {{ collab?.profile?.telephone }}</p>
                        <p class="">Structure :
                            @if(collab?.service!=null){
                                @if(collab?.service?.departement?.pole?.libelle == 'N/A'){
                                    {{ collab?.service?.departement?.pole?.direction?.libelle}}/{{ collab?.service?.departement?.libelle }}/{{ collab?.service?.libelle }}
                                }@else{
                                {{ collab?.service?.departement?.pole?.direction?.libelle}}/{{ collab?.service?.departement?.pole?.libelle }}/{{ collab?.service?.departement?.libelle }}/{{ collab?.service?.libelle }}
                                }
                            }
                            @else if(collab?.departement!=null){
                                @if(collab?.departement?.pole?.libelle == 'N/A'){
                                    {{ collab?.departement?.pole?.direction?.libelle}}/{{ collab?.departement?.libelle }}
                                }@else{
                                 {{ collab?.departement?.pole?.direction?.libelle}}/{{ collab?.departement?.pole?.libelle }}/{{ collab?.departement?.libelle }}
                                }
                            }
                            @else if(collab?.pole!= null){
                                @if(collab?.pole?.libelle == 'N/A'){
                                    {{ collab?.pole?.direction?.libelle}}
                                }@else{
                                 {{ collab?.pole?.direction?.libelle}}/{{ collab?.pole?.libelle }}
                                } 
                            }
                            @else if(collab?.direction!=null){                     
                                    {{ collab?.direction?.libelle}}     
                            }  
                        </p>
                        <button type="button" (click)="afficherDetails(collab)" class="btn btn-success btn-icon ">
                            Détails
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                               fill="none" viewBox="0 0 14 10">
                               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                         </button> 
                         <!-- <p>{{ collab?.poste?.libelle }}</p>  -->
                    </div>
                </div>                    
                }
            </div>
          </div>
    </section>

    <!-- MODAL -->

    <app-modal [show]="showModal" (closeModal)="onModalCloseHandler($event)">
        <div class="sm:flex sm:items-start">
           <div class="flex justify-between space-x-12">
               <div class="flex items-center gap-3 sticky top-0 bg-white px-8 py-3 shadow-[0_5px_5px_-5px] shadow-gray-600">
                <div class="bg-gray-800 rounded-lg p-1">
                    <div  class="flex  w-34 h-32 overflow-hidden border-2 border-gray-500">
                        <img class="w-full h-full object-contain" [src]="apiImg + dataDetails?.profile?.photo" alt="Profile">
                    </div>
                </div>
               </div>
               <div class="space-y-2 mt-3 justify-end">
                   <div class="font-mono text-xl font-bold flex">
                       <div>{{dataDetails?.profile?.prenom}} {{dataDetails?.profile?.nom}}</div>
                   </div>
                   <div class="flex">
                       <div><strong>Matricule :</strong></div>
                       <div>{{dataDetails?.profile?.matricule}}</div>
                   </div>
                   <div class="flex ">
                    <div>Structure :</div>
                        @if(dataDetails?.service!=null){
                            @if(dataDetails?.service?.departement?.pole?.libelle == 'N/A'){
                                <button  class="cursor-default">{{ dataDetails?.service?.departement?.pole?.direction?.libelle}}/{{ dataDetails?.service?.departement?.libelle }}/{{ dataDetails?.service?.libelle }}</button>
                            }@else{
                            <button  class="cursor-default">{{ dataDetails?.service?.departement?.pole?.direction?.libelle}}/{{ dataDetails?.service?.departement?.pole?.libelle }}/{{ dataDetails?.service?.departement?.libelle }}/{{ dataDetails?.service?.libelle }}</button>
                            }
                        }
                        @else if(dataDetails?.departement!=null){
                            @if(dataDetails?.departement?.pole?.libelle == 'N/A'){
                                <button  class="cursor-default">{{ dataDetails?.departement?.pole?.direction?.libelle}}/{{ dataDetails?.departement?.libelle }}</button>
                            }@else{
                            <button  class="cursor-default">{{ dataDetails?.departement?.pole?.direction?.libelle}}/{{ dataDetails?.departement?.pole?.libelle }}/{{ dataDetails?.departement?.libelle }}</button>
                            }
                        }
                        @else if(dataDetails?.pole!=null){
                            @if(dataDetails?.pole?.libelle == 'N/A'){
                                <button  class="cursor-default">{{ dataDetails?.pole?.direction?.libelle}}</button>
                            }@else{
                            <button  class="cursor-default">{{ dataDetails?.pole?.direction?.libelle}}/{{ dataDetails?.pole?.libelle }}</button>
                            } 
                        }
                        @else if(dataDetails?.direction!=null){                     
                                <button  class="cursor-default" >{{ dataDetails?.direction?.libelle}}</button>        
                        }                
                    </div>
                   <div class=" space-y-1">
                       <div>
                            <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom" (click)="toggleDropdown()" class="btn btn-outline-secondary py-1  ">Contact</button>
                       </div>
                       <div [hidden]="isDropdownOpen"  class="z-9 absolute  my-4 border border-gray-800  text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
                        <ul class="py-2 mt-2" aria-labelledby="user-menu-button">
                          <li>
                            <a title="Numéro Téléphone" class="block tooltip relative px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">{{ dataDetails?.profile?.telephone }} </a>
                          </li>
                          <li>
                            <a  title="Numéro Téléphone Pro" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">{{ dataDetails?.profile?.telephone_pro }}</a>
                          </li>
                          <li>
                            <a title="Mail Professionnel" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">{{ dataDetails?.profile?.email }}</a>
                          </li>
                        </ul>
                      </div>
                   </div>
               </div>
           </div>
       </div> 
       <div class="mt-1 flex ml-1">
          <div> Poste: </div>
           <button type="button" class="btn btn-outline-secondary py-1  ">  {{dataDetails?.poste?.libelle}}</button>
       </div>
       <div class="flex space-x-3 mt-5">
        <div>
             <div>Statut :</div>
             <button type="button" class="btn btn-outline-secondary me-2">{{dataDetails?.statut?.libelle }}</button>
        </div>
        <div  class="flex flex-col">
             <div class="">Groupe :</div>
             <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">{{dataDetails?.groupe?.libelle }}
                
             </button>
         </div>
         <div  class="flex flex-col">
             <div class=" tooltip relative">Categorie: </div>
             <button type="button" class="btn btn-outline-secondary me-2">{{dataDetails?.categorie?.libelle }}
             </button>
         </div>
         <div  class="flex flex-col">
              <div class=" tooltip relative">Agence: </div>
              <button type="button" class="btn btn-outline-secondary me-2">{{dataDetails?.agence?.libelle }}</button>
          </div>
    
     </div> 
       <div class=" flex space-x-3 mt-5">
           <div>
               <div  class="tooltip relative">Lieu :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       lieu d'execution
                   </span>
               </div>
               @if(dataDetails?.locau!=null){
                   <button type="button" class="btn btn-outline-secondary me-2">{{dataDetails?.locau?.libelle}}</button>
                }
           </div>
           @if(dataDetails?.responsable !=null){
               <div>
                  <div >Responsable :</div>
                  <button type="button" class="btn btn-outline-secondary me-2">{{dataDetails?.responsable?.profile?.prenom }} {{dataDetails?.responsable?.profile?.nom}}</button>
              </div>
           }
           <div>
               <div>Canal :</div>
               <button type="button" class="btn btn-outline-secondary me-2">{{dataDetails?.canal?.libelle }}</button>
           </div>
       </div>
      
       
       <!-- @for(contrat of interimaire?.contrats;track contrat.id){       -->
       <!-- <div class=" flex space-x-3 mt-5">
           <div  class="flex flex-col">
               <button class=" tooltip relative">Début :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       Début Contrat
                   </span>
               </button>
               <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">
                   {{contrat?.date_debut_contrat}}
                </button>
           </div>
           <div  class="flex flex-col">
               <button class=" tooltip relative" >Fin :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       Fin Contrat
                   </span>
               </button> 
               <button type="button" class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.date_fin_contrat}}</button>
           </div>
           <div  class="flex flex-col">
               <button class="tooltip relative">Presence :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       Temps Presence Structure
                   </span>
               </button>
               <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.temps_presence_structure_actuel}}
                   <span class="tooltip-text absolute bg-black  text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       JOUR
                   </span>
               </button>
           </div>
           <div  class="flex flex-col">
               <button class="tooltip relative"> Autre  :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       Presence Autre Structure
                   </span>
               </button>
               <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">
                   {{contrat?.temps_presence_autre_structure_sonatel}}
                   <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       MOIS
                   </span>
                </button>
           </div>
           <div  class="flex flex-col">
               <button class="tooltip relative"> Cumule  :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       Cumule Presence structure:
                   </span>
               </button> 
               <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.cumul_presence_sonatel}}
                   <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       MOIS
                   </span>
               </button>
           </div>
       </div> -->
       <!-- <div class=" flex space-x-3 space-y-2 mt-5">
           <div  class="flex flex-col">
               <button class="tooltip relative mt-1"> Contrat :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       Durée Contrat
                   </span>
               </button>
               <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.duree_contrat}}
                   <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       MOIS
                   </span>
               </button>
           </div>
           <div  class="flex flex-col">
               <button class="tooltip relative"> Reste  :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       Durée Restant
                   </span>
               </button>
               <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">
                   {{contrat?.duree_contrat_restant}}
                   <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       MOIS
                   </span>
                </button>
           </div>
           <div  class="flex flex-col">
               <button 
               class="tooltip relative"> Mensuel  :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       Coût Mensuel
                   </span>
               </button> 
               <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.cout_mensuel}}
                   <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       FCFA
                   </span>
               </button>
           </div>
           <div  class="flex flex-col">
               <button class="tooltip relative">Global  :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       Coût Global 
                   </span>
               </button>
               <button type="button"  class="btn btn-outline-secondary me-2 tooltip relative">{{contrat?.cout_global}}
                   <span class="tooltip-text absolute bg-black text-white text-xs rounded py-1 px-2 bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       FCFA
                   </span>
               </button>
           </div>
           <div>
               <div>DA :</div>
               <button type="button" class="btn btn-outline-secondary me-2">
                   {{contrat?.DA}}
                </button>
           </div>
       </div> -->
       <!-- <div class=" flex space-x-3 mt-5">
           <div class="flex flex-col">
               <button class="tooltip relative"> Kangourou  :
                   <span class="tooltip-text absolute bg-green-600 py-1 px-5 text-white text-xs rounded  whitespace-nowrap  bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 transition-opacity duration-300">
                       DA kangourou
                   </span>
               </button> 
               <button type="button" class="btn btn-outline-secondary me-2">{{contrat?.DA_kangurou}}</button>
           </div>
       </div> -->
       <!-- } -->
   </app-modal>
</div>